/* Variables */
:root {
  --borderRadius: 10px;
  --spacer: 1rem;
  --text: #fff;
  --linkHeight: calc(var(--spacer) * 3.5);
  --timing: 250ms;
  --transition: var(--timing) ease all;
  --linkWidth: 10rem;
}

/* Import de la police */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

/* Body */
body {
  font-family: "Open Sans", sans-serif;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  color: var(--text);
  padding: 0 calc(var(--spacer) * 2);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.navbar__menu {
  position: relative;
  display: flex;
}
.navbar__link {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  height: var(--linkHeight);
  width: var(--linkWidth);
  color: var(--text);
  transition: var(--transition);
  text-decoration: none;
  width: var(--linkWidth);
  text-transform: uppercase;
  transition: 500ms ease all;
}
.navbar__link svg {
  transition: 500ms ease all;
}
.navbar__item:last-child:before {
  content: "";
  position: absolute;
  left: -8rem;
  margin-left: calc(var(--linkWidth) / 2);
  bottom: -1.25rem;
  height: 0.5rem;
  width: 2px;
  --speedGap: 3rem;
  transition: 500ms ease all;
  box-shadow: var(--shadow);
}

select.navbar_football {
  height: calc(var(--linkHeight) - 0.5rem);
  width: calc(var(--linkWidth) + 3rem);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: var(--text);
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  transition: var(--transition);
}

.menu-title {
  text-decoration: none;
  color: white;
}
